section.flex-row {
  flex-direction: column;
  margin-top: 60px;
}

.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 40px;
  text-align: center;

  // responsive
  @media (max-width: 1068px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  .service {
    padding: 30px;

    &:hover {
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }

    // responsive
    @media (max-width: 768px) {
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }

    h2 {
      font-weight: 500;
      margin-top: 20px;
      color: $secondary-color;
    }

    p {
      margin: 0;
      font-weight: 400;
      font-size: 0.994rem;
    }

    .icon {
      img {
        width: 100px;
      }
    }
  }
}
